.d_nav{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: #089996;
    align-items: center;
    height: 4.5rem;
    color: #F3f3f8;
    
    
  }
  .d_nav-left{
    margin-left: 32px;
  
  }
  
  .d_nav-right{
    display: flex;
    column-gap: 3.8043vh;
    margin-right: 6.25vh ;
  }
  .search_bar{
    margin: auto;
  }
  #notification{
    width: 1.5rem;
    height: 1.844rem;
    margin: auto;
    justify-content: center;
  }
  .user_name{
    margin: auto;
  }
  .d_main{
    display: flex;
    flex-direction: row;
    height: 89vh;
  }
  .d_main-left{
    width: 6.25rem;
    
    
  }
  .d_vnav{
    margin: top 3.438rem;;
    display: flex;
    flex-direction: column;
    
    width: 6.063rem;
  }
  .block{
    margin: auto;
    margin-bottom: 1.063rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block:hover{
    background-color: #c4c9ce;
    height: 3.438rem;
    width: 4.125rem;
  }
  .block:active{
    background-color: #089996;
  }
  .block img{
    height: 2.25rem;
    width: 2.313rem;
  }
  .block p{
    color: #737E87;
    font-size: 0.875rem;
    font-style: medium;
  }
  .d_upper{
    margin-bottom: 0;
    display: block;
  }