.d_main-right{
    width: 190vh;
    margin-top: 0px;
    height: fit-content;
    min-height: 89vh;
    background-color: #F3f3f8;
    float: right;
  }
  
  .doctorintro{
    background-color: white;
    height: 233px;
    width: 1276px;
    margin:32px;
    gap: 20px;
    
  }
  
  .intro{
    display: flex;
    flex-direction: row;
    margin: 24px;
    /* gap: 20px; */
    justify-content: space-between;
    
    
  }
  .doctor_name_logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .doctorlogo{
    margin-top: 28px;
  }
  .doctorname{
    margin-top: 28px;
  }
  .workinghours{
    margin-top: 49.22px;
    display: flex;
    flex-direction: row;
    border: 1px solid hsl(210, 9%, 82%) ;
    color: #737E87;
    float: right;
    height: 41px;
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    font-family: THICCCBOI; 
    gap: 14px;
    padding: 8px;
    cursor: pointer;
  }
  .available{
    background-color: #ECFDF5;
    margin: 28px;
    height: 74px;
    width: 1228px;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
  }
  
  .available p,span{
    
    gap: 2px;
    font-size: 19px;
    letter-spacing: 1.5px;
  }
  .right_wrong{
    align-items: center;
    display: flex;
    gap: 20px;
  }
  .on_off{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: light;
    gap: 10px;
  }
  #on_button{
    height: 54px;
    margin-right: 20px;
    width: 54px;
    cursor: pointer;
  }
  #right_button{
    height: 35px;
    margin-left: 15px;
    
  }
  .appointnments_requests{
    cursor: pointer;
    color: #737E87;
  }
  .home_heading{
    
    display: flex;
    // flex-direction: row;
    margin-left: 40px;
    gap: 30px;
    margin-top: 40px;
  }
  .home_heading h1{
    font-family: THICCCBOI;
    font-weight: 700;
    font-size: 32px;
    color: 2D2D2D;
  
  }
  .sorting{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 30px;
    cursor: pointer;
  }
  .select_date, .sort{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #737E87;
    justify-content: center;
    height: 30px;
    padding: 5px;
    gap: 8px;
    font-size: 16px;
  }
  .sort img{
    height: 14px;
    
  }

  .calendar_heading{
    font-family: THICCCBOI;
    margin: 32px;
    font-weight: 700;
    letter-spacing: 4px;
  }

  .appointments_patient_info{
    background-color: white;
    height: 108px;
    width: 1276px;
    margin: 32px;
    // display: flex;
    // flex-direction: row;
    justify-content: space-between;
    display: none;
    padding: 24px;
    position: relative;
  }

  .briefInfo{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .patient_date_day_and_time{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #5E5E5E;
  }
  .appointment_date_day{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  .appointment_date{
    font-size: 32px;
    font-weight: 700;
  }
   .appointment_month_day{
    font-size: 14px;
    font-weight: 550;
   }
   .appointment_time{
    font-size: 18px;
    font-weight: 600;
   }
  .patient_name_and_id{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .appointment_patient_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 26px;
    font-weight: 600;
  }
  .appoitnment_patient_id_basic{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }

  .detailedInfo, .accept_deny{
    align-items: center;
    margin-top: auto;
    margin-bottom:auto ;
    gap: 4px;
  }
  #btn-appointment{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
  }
  .details{
    border: 2px solid #737E87;
    border-radius: 4px;
    color: #5E5E5E;
    cursor: pointer;
  }
  .accept{
    border-radius: 4px;
    border: 2px solid #089996;
    color: #089996;
    margin-right: 20px;
    cursor: pointer;
  }
  .deny{
    border-radius: 4px;
    border: 2px solid #FF4242;
    color: #FF4242;
    cursor: pointer;
  }



  .active-appointments_patient_info {
    display: flex;
    flex-direction: row;
    // display: block;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    
  }
  
  .active-tabs  {
    
    color: black;
    border-bottom: 1px solid transparent;
  }
 
  .content-tabs{
    flex-grow: 1;
  }
 

  //Calendar scss

  .no_of_appointments_and_month{
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    gap: 10px;
    
  }
  .no_of_appointments, .month{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: 2px solid #babdc0;
    border-radius: 5px;
  }

  .react-calendar {
    height: 378px;
    width: 1180px;
    margin: 32px;
    max-width: 100%;
    color: #737E87;
    border: 3px solid #babdc0;
    line-height: 3.125rem;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
    font-family: THICCCBOI;
    font-size: 20px;
  }

  .react-calendar__navigation button {
    color: #5E5E5E;
    min-width: 48px;
    background: none;
    font-size: 26px;
    margin-top: 10px;
    font-weight: 700;
   }
   
   .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
      background-color: #f8f8fa;
    }
    .react-calendar__navigation button[disabled] {
      background-color: #f0f0f0;
     }
     abbr[title] {
      text-decoration: none;
      font-size: 22px;
     }
     .react-calendar__tile:enabled:hover,
      .react-calendar__tile:enabled:focus {
        
        color: #454c52;
        border-radius: 6px;
      }
      .react-calendar__tile--now {
        background: #29d5d2;
        border-radius: 6px;
        font-weight: bold;
        color: #454c52;
        font-size: 22px;
        color: white;
       }
       .react-calendar__tile--now:enabled:hover,
        .react-calendar__tile--now:enabled:focus {
        background-color: #089996;
        border-radius: 6px;
        font-weight: bold;
        color: white;
        }
        .react-calendar__tile--active {
          background-color: white;
          border-radius: 6px;
          font-weight: bold;
          color: #6a7278;
         }
         .react-calendar__tile--active:enabled:hover,
          .react-calendar__tile--active:enabled:focus {
          background: #d1d6da;
          color: #6a7278;
        }
        .react-calendar__navigation__label__labelText{

          font-size: 28px;
        }
