.d_main-right{
    width: 91.375rem;
    margin-top: 0px;
    height: fit-content;
    min-height: 89vh;
    background-color: #F3f3f8;
    float: right;
  }
  
  .doctorintro{
    background-color: white;
    height: 14.563rem;
    width: 79.75rem;
    margin: 2rem;
    gap: 1.25rem;
    
  }
  
  .intro{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    /* gap: 20px; */
    justify-content: space-between;
    
    
  }
  .doctor_name_logo{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
  .doctorlogo{
    margin-top: 0.813rem;
  }
  .doctorname{
    margin-top: 0.813rem;
  }
  .workinghours{
    margin-top: 3.076rem;
    display: flex;
    flex-direction: row;
    border: 0.063rem solid hsl(210, 9%, 82%) ;
    color: #737E87;
    float: right;
    height: 2.563rem;
    width: 11.25rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: THICCCBOI; 
    gap: 0.875rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .available{
    background-color: #ECFDF5;
    margin: 0.813rem;
    height: 4.625rem;
    width: 76.75rem;
    border-radius: 0.313rem;
    font-weight: 700;
    margin-top: 2.313rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
  }
  
  .available p,span{
    
    gap: 0.125rem;
    font-size: 1.188rem;
    letter-spacing: 0.094rem;
  }
  .right_wrong{
    align-items: center;
    display: flex;
    gap: 1.25rem;
  }
  .on_off{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: light;
    gap: 0.625rem;
  }
  #on_button{
    height: 3.375rem;
    margin-right: 1.25rem;
    width: 3.375rem;
    cursor: pointer;
  }
  #right_button{
    height: 2.188rem;
    margin-left: 0.938rem;
    
  }
  .appointnments_requests{
    cursor: pointer;
    color: #737E87;
  }
  .home_heading{
    
    display: flex;
    // flex-direction: row;
    margin-left: 2.5rem;
    gap: 1.875rem;
    margin-top: 2.5rem;
  }
  .home_heading h1{
    font-family: THICCCBOI;
    font-weight: 700;
    font-size: 2rem;
    color: #2D2D2D;
  
  }
  .sorting{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    margin-left: 1.875rem;
    cursor: pointer;
  }
  .select_date, .sort{
    margin-top: -0.625rem;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #737E87;
    justify-content: center;
    height: 1.875rem;
    padding: 0.313rem;
    gap: 0.5rem;
    font-size: 1rem;
  }
  .sort img{
    height: 0.875rem;
    
  }

  .calendar_heading{
    font-family: THICCCBOI;
    margin: 2rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
  }

  .appointments_patient_info{
    background-color: white;
    height: 6.75rem;
    width: 79.75rem;
    margin: 2rem;
    // display: flex;
    // flex-direction: row;
    justify-content: space-between;
    display: none;
    padding: 1.5rem;
    position: relative;
  }

  .briefInfo{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }
  .patient_date_day_and_time{
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
    color: #5E5E5E;
  }
  .appointment_date_day{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.625rem;
  }
  .appointment_date{
    font-size: 2rem;
    font-weight: 700;
  }
   .appointment_month_day{
    font-size: 0.875rem;
    font-weight: 550;
   }
   .appointment_time{
    font-size: 0.875rem;
    font-weight: 600;
   }
  .patient_name_and_id{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
  .appointment_patient_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.625rem;
    font-weight: 600;
  }
  .appoitnment_patient_id_basic{
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    align-items: center;
  }

  .detailedInfo, .accept_deny{
    align-items: center;
    margin-top: auto;
    margin-bottom:auto ;
    gap: 0.25rem;
  }
  #btn-appointment{
    padding: 0.625rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
  }
  .details{
    border: 2px solid #737E87;
    border-radius: 0.25rem;
    color: #5E5E5E;
    cursor: pointer;
  }
  .accept{
    border-radius: 0.25rem;
    border: 2px solid #089996;
    color: #089996;
    margin-right: 1.25rem;
    cursor: pointer;
  }
  .deny{
    border-radius: 0.25rem;
    border: 0.125rem solid #FF4242;
    color: #FF4242;
    cursor: pointer;
  }



  .active-appointments_patient_info {
    display: flex;
    flex-direction: row;
    // display: block;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    
  }
  
  .active-tabs  {
    
    color: black;
    border-bottom: 1px solid transparent;
  }
 
  .content-tabs{
    flex-grow: 1;
  }
 

  //Calendar scss

  .no_of_appointments_and_month{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    gap: 0.625rem;
    
  }
  .no_of_appointments, .month{
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: white;
    border: 2px solid #babdc0;
    border-radius: 0.313rem;
  }

  .react-calendar {
    height: 23.625rem;
    width: 73.75rem;
    margin: 2rem;
    max-width: 100%;
    color: #737E87;
    border: 3px solid #babdc0;
    line-height: 3.125rem;
    box-shadow: 0 0.375rem 1.5rem rgba(0, 0, 0, 0.2);
    font-family: THICCCBOI;
    font-size: 1.25rem;
  }

  .react-calendar__navigation button {
    color: #5E5E5E;
    min-width: 3rem;
    background: none;
    font-size: 1.625rem;
    margin-top: 0.625rem;
    font-weight: 700;
   }
   
   .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
      background-color: #f8f8fa;
    }
    .react-calendar__navigation button[disabled] {
      background-color: #f0f0f0;
     }
     abbr[title] {
      text-decoration: none;
      font-size: 1.375rem;
     }
     .react-calendar__tile:enabled:hover,
      .react-calendar__tile:enabled:focus {
        
        color: #454c52;
        border-radius: 0.173rem;
      }
      .react-calendar__tile--now {
        background: #29d5d2;
        border-radius: 0.173rem;
        font-weight: bold;
        color: #454c52;
        font-size: 1.375rem;
        color: white;
       }
       .react-calendar__tile--now:enabled:hover,
        .react-calendar__tile--now:enabled:focus {
        background-color: #089996;
        border-radius: 0.173rem;
        font-weight: bold;
        color: white;
        }
        .react-calendar__tile--active {
          background-color: white;
          border-radius: 0.173rem;
          font-weight: bold;
          color: #6a7278;
         }
         .react-calendar__tile--active:enabled:hover,
          .react-calendar__tile--active:enabled:focus {
          background: #d1d6da;
          color: #6a7278;
        }
        .react-calendar__navigation__label__labelText{

          font-size: 0.813rem;
        }
