.main{
    background-color:#F3f3f8 ;
    min-height: 110vh;
    height:auto;
    height:89.2vh;
    overflow:auto;  
    
  }
  
  .heading h2{
  font-family: THICCCBOI;
  font-style: Bold;
  font-size: 2.75rem;
  line-height: 100%;
  text-Align: center;
  vertical-align: Center;
  color: #089996;
  margin-top: 6.25rem;
  display: flex;
  flex-direction: row;
}
  
  .heading h2:before,
  .heading h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 0.188rem solid #089996;
    margin: 1.563rem;
  
  }
  .containers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6.5%;
    column-gap: 1.125rem;
    margin-left: 3rem;
    margin-right: 3rem;
    }
    .container{
      display: block;
      background-color: white;
      align-items: center;
      text-align: center;
      height: 16.875rem;
      width: 18.75rem;
      padding-top:5.313rem ;
      border-bottom: 0.25rem solid #089996;
      border-right: 0.25rem solid #089996;
      filter: Drop shadow;
      offset: 0.125rem, 0.125rem;
  
    }
  
  .container p{
    font-family: THICCCBOI;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.313rem;
    letter-spacing: 0em;
    
    color: #089996;
  
  }
  .container:hover{
    background-color: #089996;
  
  }
  
 
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: 0.3s;
    background-color: white;
  }

  .column{
    display: flex;
    flex-direction: row;
    margin-left: 9.75rem;
    margin-right: 9.75rem;
    margin-top: 5.313rem;
    column-gap: 9.313rem
    
   
  }
 
  
  .column1{
    width: 30.5rem;
    display: flex;
    flex-direction: column;
    
  }
  .column2{
    width: 30.5rem;
    display: flex;
    flex-direction: column;
  }
  input ,textarea,select, option{
    border: 0.063rem solid rgb(217, 195, 227);
    outline: none;
    padding: 0.625rem 0.75rem ;
    font-size: 1rem;
    border-radius: 0.313rem;
    column-gap: 0.625rem;
    font-family: THICCCBOI
    
  }   
  span{
    font-weight: 500;
    font-size: 1.375rem;
    color: rgb(14, 13, 13);
    padding-top: 1.063rem;
    font-family: THICCCBOI
  }
  
  .btn-submit{
    
    margin-top: 2.75rem;
    height: 3.438rem;
    background-color: #089996;
    color: white;
    font-size: 1.25rem;
    
  }
  #license {
    cursor: pointer;
    background-color: white;
}

  

  @media screen and (max-width:1100px) {
    .column1{
      width: 20rem;;
      
    }
    .column2{
      width: 20rem;
    }
  
    .column{
      display: flex;
      flex-direction: row;
      margin-left: 7rem;
      margin-right: 7rem;
      margin-top: 5.313rem;
      column-gap: 8rem
    } 
    
  }

  @media screen and (max-width:970px) {

    .column{
      display: flex;
      flex-direction: row;
      margin-left: 4.5rem;
      margin-right: 4.5rem;
      margin-top: 5.313rem;
      column-gap: 7rem
    } 
  }

  @media screen and (max-width:855px) {

    .column{
      display: flex;
      flex-direction: row;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 5.313rem;
      column-gap: 7rem;
    } 
  }

  @media screen and (max-width:721px) {
    .main{
      min-height: 110vh;
      height: auto;
    }
    .column{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4.5rem;
      margin-bottom: 2rem;
      // /* column-gap: 7rem */
      flex-wrap: wrap;
    } 
  }

  @media screen and (max-width:770px){
    .column{
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1.313rem;
        column-gap: 3rem
      } 
  }

  @media screen and (max-width:720px){
    
    .container{
        display: flex;
        background-color: white;
        align-items: center;
        text-align: center;
        height: 95px;
        width: 291px;
        padding:1.313rem ;
        justify-content: space-around;
        border-bottom: 0.25rem solid #089996;
        border-right: 0.25rem solid #089996;
        filter: Drop shadow;
        offset: 0.125rem, 0.125rem;
        border-radius: 0.25rem;
    
      }
    
      .container p{
        font-family: THICCCBOI;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.313rem;
        letter-spacing: 0em;
        
        color: #089996;
      
      }
      .containers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4.5rem;
        margin-bottom: 2rem;
        row-gap: 1.5rem;
        flex-wrap: wrap;
      }
      #patient, #doctor, #chemist{
        height: 26px;
        width: 26px;
      }
  }

  @media screen and (max-width:548px) {
    .heading h2{
    font-family: THICCCBOI;
    font-style: light;
    font-size: 20px;
    line-height: 100%;
    text-Align: center;
    vertical-align: Center;
    color: #089996;
    margin-top: 6.25rem;
    display: flex;
    flex-direction: row;
  }
  .heading h2:before,
  .heading h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 0.188rem solid #089996;
    margin: 0.563rem;
    
  }
    
    
  }