.header{
    position: fixed;
    top: 0;
    z-index: 10;
    
  }
  .nav{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    background-color: #089996;
    align-items: center;
    height: 4.5rem;
    color: #F3f3f8;
    
  }
  
  .nav-left .logo{
    display: flex;
    flex-direction: row;
    column-gap: 0.928rem;
    align-items: center;
    
  
  }
  .nav__menu-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;
    font-size: 1.420rem;
    font-family: THICCCBOI;
   
    font-weight: 700;
    line-height: 1.438;
    letter-spacing: 0rem;
    text-align: left;
  
  }
  .nav__link{
    font-size: 1.125rem;
    position: relative;
  }
  .user-logo{
    display: flex;
    flex-direction: row;
    column-gap: 1.625rem;
    align-items: center;
  }
  
  .nav__item:hover{
    text-decoration: underline;
    color: white;
  }
  .nav__item:active{
    background-color: #F3f3f8;
  }
  